/*
You'll need to add the following 2 string values
inside the presets array:

1. "@babel/preset-env"
2. For the second one, go back to the `react-babel` script you wrote in package.json. Take that preset and include it in the presets array below as well.

Babel, which is being used as a "loader" by webpack, will use these npm packages to handle transpiling jsx into browser-readable JavaScript. (you already installed these npm packages via package.json)
*/

{
  "presets": []
}

// After you get these values set, type "control-c" in the
// terminal running the webpack command, and re-run the "npm run react-webpack" command.
// NEXT: if you don't see any errors, head to "client/dist/index.html" and find "WEBPACK TODO".

